.bg-vplayer {
  height: 100vh;
  background-image: url('/public/img/bg-videoplayer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoplayer {
  margin-top: 100px;
  width: 140vh;
  height: 64vh;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  scrollbar-width: none;
}

.videoplayer::-webkit-scrollbar {
  display: none;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  width: max-content;
}
